applications/*
Builds/*
applications copy
olddrops
Archive.zip
applications/
dump/*
node_modules/.pnpm-debug.log
applications copy/*
build/*
.DS_Store
**/.DS_Store
extendedStructures/*
extendedTemplates/*
extensions/firebasedb/node_modules/*
**/package-lock.json
extensions/firebasedb/build/*