/*
path: sidebar.module.scss
completePath: front-end/components/Sidebar/sidebar.module.scss
unique_id: CL5VFILG
*/
.drawer {
  flex-shrink: 0;
  white-space: 'nowrap';
  position: relative;
  top: 4rem;
  height: calc(100vh - 4rem);
  width: 15rem;

  & .drawerOpen {
    width: 15rem;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background: rgba(0, 0, 0, 0.25);
    border-right: 1px solid #43515e;
    position: static;
    box-sizing: border-box;
  }

  &:global(.MuiPaper-root) {
    color: var(--palette-primary-300);

    & :global(.active) {
      background-color: var(--palette-primary-600);
      border-right: 2px solid var(--palette-primary-900);
      color: var(--palette-primary-100);
      display: block;
    }

    & :global(.MuiButtonBase-root):hover {
      background-color: var(--palette-primary-300);
      color: var(--palette-primary-50);
    }
  }
}



.drawerClose {
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  width: 57px;
}
