/*
path: 987_contentEditorModule.module.scss
keyPath: elements/Programming/Snippets/extraFiles/987_contentEditorModule.module.scss
unique_id: egP9STUI
*/
:global(.codeshow) {
  &::before {
    content: "\ea80";
  }
}

// Will be ignored, just to force render
.codeshow {
  background-color: aqua;
}
