/*
path: colors_purple.module.scss
keyPath: front-end/components/Themes/colors_purple.module.scss
unique_id: IkcUVdD1
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #f3e5f5;
  --palette-primary-100: #e1bee7;
  --palette-primary-200: #ce93d8;
  --palette-primary-300: #ba68c8;
  --palette-primary-400: #ab47bc;
  --palette-primary-500: #9c27b0;
  --palette-primary-600: #8e24aa;
  --palette-primary-700: #7b1fa2;
  --palette-primary-800: #6a1b9a;
  --palette-primary-900: #4a148c;
  --palette-primary-A100: #ea80fc;
  --palette-primary-A200: #e040fb;
  --palette-primary-A400: #d500f9;
  --palette-primary-A700: #aa00ff;
}
