/*
path: tabnavigation.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/ReactNative/elements/Experimental/Tabs/tabnavigation.module.scss
keyPath: elements/Experimental/Tabs/tabnavigation.module.scss
unique_id: IapD9W2G
*/

.tabBar {
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFF;
  width: auto;
  flex-shrink: 0;
  border-bottom: 1px solid red;
}

.tabItem {
  flex-grow: 1;
  align-items: center;
  padding: .5rem;
}