/*
path: pagination.module.scss
completePath: front-end/components/Pagination/pagination.module.scss
unique_id: 1zJ50rgp
*/

.prevnext {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    min-width: 1rem;
    padding: 0;
    color: black;
    height: 1rem;
    display: flex;
    align-items: center;

    svg {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 420px) {
    .pagination {
      button {
        display: none;
      }
    }
  }

  .pagination {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    button {
      min-width: 2rem;
      padding: 3px 8px;
      height: 2rem;

      &:focus {
        border-radius: 0.3125rem;
        border: 1px solid rgba(0, 0, 0, 0.356);
        background: #fff;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
      }
    }

    .activePage {
      border-radius: 0.3125rem;
      border: 1px solid rgba(0, 0, 0, 0.356);
      background: #fff;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    }
  }
}