/*
path: colors_orange.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_orange.module.scss
keyPath: front-end/components/Themes/colors_orange.module.scss
unique_id: FEZwhMXe
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #fff3e0;
--palette-primary-100: #ffe0b2;
--palette-primary-200: #ffcc80;
--palette-primary-300: #ffb74d;
--palette-primary-400: #ffa726;
--palette-primary-500: #ff9800;
--palette-primary-600: #fb8c00;
--palette-primary-700: #f57c00;
--palette-primary-800: #ef6c00;
--palette-primary-900: #e65100;
--palette-primary-A100: #ffd180;
--palette-primary-A200: #ffab40;
--palette-primary-A400: #ff9100;
--palette-primary-A700: #ff6d00;
}