/*
path: colors_indigo.module.scss
keyPath: front-end/components/Themes/colors_indigo.module.scss
unique_id: Wr58p1Jw
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #e8eaf6;
  --palette-primary-100: #c5cae9;
  --palette-primary-200: #9fa8da;
  --palette-primary-300: #7986cb;
  --palette-primary-400: #5c6bc0;
  --palette-primary-500: #3f51b5;
  --palette-primary-600: #3949ab;
  --palette-primary-700: #303f9f;
  --palette-primary-800: #283593;
  --palette-primary-900: #1a237e;
  --palette-primary-A100: #8c9eff;
  --palette-primary-A200: #536dfe;
  --palette-primary-A400: #3d5afe;
  --palette-primary-A700: #304ffe;
}