/*
path: colors_yellow.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_yellow.module.scss
keyPath: front-end/components/Themes/colors_yellow.module.scss
unique_id: MQvXWDsG
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #fffde7;
--palette-primary-100: #fff9c4;
--palette-primary-200: #fff59d;
--palette-primary-300: #fff176;
--palette-primary-400: #ffee58;
--palette-primary-500: #ffeb3b;
--palette-primary-600: #fdd835;
--palette-primary-700: #fbc02d;
--palette-primary-800: #f9a825;
--palette-primary-900: #f57f17;
--palette-primary-A100: #ffff8d;
--palette-primary-A200: #ffff00;
--palette-primary-A400: #ffea00;
--palette-primary-A700: #ffd600;
}