/*
path: colors_amber.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_amber.module.scss
keyPath: front-end/components/Themes/colors_amber.module.scss
unique_id: cGctUkZ2
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #fff8e1;
  --palette-primary-100: #ffecb3;
  --palette-primary-200: #ffe082;
  --palette-primary-300: #ffd54f;
  --palette-primary-400: #ffca28;
  --palette-primary-500: #ffc107;
  --palette-primary-600: #ffb300;
  --palette-primary-700: #ffa000;
  --palette-primary-800: #ff8f00;
  --palette-primary-900: #ff6f00;
  --palette-primary-A100: #ffe57f;
  --palette-primary-A200: #ffd740;
  --palette-primary-A400: #ffc400;
  --palette-primary-A700: #ffab00;
}