/*
path: colors_red.module.scss
keyPath: front-end/components/Themes/colors_red.module.scss
unique_id: ZNMATApR
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #ffebee;
  --palette-primary-100: #ffcdd2;
  --palette-primary-200: #ef9a9a;
  --palette-primary-300: #e57373;
  --palette-primary-400: #ef5350;
  --palette-primary-500: #f44336;
  --palette-primary-600: #e53935;
  --palette-primary-700: #d32f2f;
  --palette-primary-800: #c62828;
  --palette-primary-900: #b71c1c;
  --palette-primary-A100: #ff8a80;
  --palette-primary-A200: #ff5252;
  --palette-primary-A400: #ff1744;
  --palette-primary-A700: #d50000;
}