/*
path: colors_pink.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_pink.module.scss
keyPath: front-end/components/Themes/colors_pink.module.scss
unique_id: sn6usVvF
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #fce4ec;
  --palette-primary-100: #f8bbd0;
  --palette-primary-200: #f48fb1;
  --palette-primary-300: #f06292;
  --palette-primary-400: #ec407a;
  --palette-primary-500: #e91e63;
  --palette-primary-600: #d81b60;
  --palette-primary-700: #c2185b;
  --palette-primary-800: #ad1457;
  --palette-primary-900: #880e4f;
  --palette-primary-A100: #ff80ab;
  --palette-primary-A200: #ff4081;
  --palette-primary-A400: #f50057;
  --palette-primary-A700: #c51162;
}