/*
path: colors_blueGrey.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_blueGrey.module.scss
keyPath: front-end/components/Themes/colors_blueGrey.module.scss
unique_id: kKFBymTe
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #eceff1;
  --palette-primary-100: #cfd8dc;
  --palette-primary-200: #b0bec5;
  --palette-primary-300: #90a4ae;
  --palette-primary-400: #78909c;
  --palette-primary-500: #607d8b;
  --palette-primary-600: #546e7a;
  --palette-primary-700: #455a64;
  --palette-primary-800: #37474f;
  --palette-primary-900: #263238;
  --palette-primary-A100: #cfd8dc;
  --palette-primary-A200: #90a4ae;
  --palette-primary-A400: #78909c;
  --palette-primary-A700: #455a64;
}