/*
path: colors_blue.module.scss
keyPath: front-end/components/Themes/colors_blue.module.scss
unique_id: dn7T0SDe
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #e3f2fd;
  --palette-primary-100: #bbdefb;
  --palette-primary-200: #90caf9;
  --palette-primary-300: #64b5f6;
  --palette-primary-400: #42a5f5;
  --palette-primary-500: #2196f3;
  --palette-primary-600: #1e88e5;
  --palette-primary-700: #1976d2;
  --palette-primary-800: #1565c0;
  --palette-primary-900: #0d47a1;
  --palette-primary-A100: #82b1ff;
  --palette-primary-A200: #448aff;
  --palette-primary-A400: #2979ff;
  --palette-primary-A700: #2962ff;
}