/*
path: colors_deepOrange.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_deepOrange.module.scss
keyPath: front-end/components/Themes/colors_deepOrange.module.scss
unique_id: MOF2Xk1f
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #fbe9e7;
--palette-primary-100: #ffccbc;
--palette-primary-200: #ffab91;
--palette-primary-300: #ff8a65;
--palette-primary-400: #ff7043;
--palette-primary-500: #ff5722;
--palette-primary-600: #f4511e;
--palette-primary-700: #e64a19;
--palette-primary-800: #d84315;
--palette-primary-900: #bf360c;
--palette-primary-A100: #ff9e80;
--palette-primary-A200: #ff6e40;
--palette-primary-A400: #ff3d00;
--palette-primary-A700: #dd2c00;
}