/*
path: colors_lightGreen.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_lightGreen.module.scss
keyPath: front-end/components/Themes/colors_lightGreen.module.scss
unique_id: 0TPsoqi0
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #f1f8e9;
  --palette-primary-100: #dcedc8;
  --palette-primary-200: #c5e1a5;
  --palette-primary-300: #aed581;
  --palette-primary-400: #9ccc65;
  --palette-primary-500: #8bc34a;
  --palette-primary-600: #7cb342;
  --palette-primary-700: #689f38;
  --palette-primary-800: #558b2f;
  --palette-primary-900: #33691e;
  --palette-primary-A100: #ccff90;
  --palette-primary-A200: #b2ff59;
  --palette-primary-A400: #76ff03;
  --palette-primary-A700: #64dd17;
}