/*
path: colors_deepPurple.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_deepPurple.module.scss
keyPath: front-end/components/Themes/colors_deepPurple.module.scss
unique_id: 4V38OS9z
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #ede7f6;
  --palette-primary-100: #d1c4e9;
  --palette-primary-200: #b39ddb;
  --palette-primary-300: #9575cd;
  --palette-primary-400: #7e57c2;
  --palette-primary-500: #673ab7;
  --palette-primary-600: #5e35b1;
  --palette-primary-700: #512da8;
  --palette-primary-800: #4527a0;
  --palette-primary-900: #311b92;
  --palette-primary-A100: #b388ff;
  --palette-primary-A200: #7c4dff;
  --palette-primary-A400: #651fff;
  --palette-primary-A700: #6200ea;
}