/*
path: colors_teal.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/BaseDev/templates/5ec1574d22999c4a5e8e0dc7/front-end/components/Themes/colors_teal.module.scss
keyPath: front-end/components/Themes/colors_teal.module.scss
unique_id: ee87TTiT
*/
:root {
  --palette-general-background: #eeeeee;
  --palette-primary-50: #e0f2f1;
  --palette-primary-100: #b2dfdb;
  --palette-primary-200: #80cbc4;
  --palette-primary-300: #4db6ac;
  --palette-primary-400: #26a69a;
  --palette-primary-500: #009688;
  --palette-primary-600: #00897b;
  --palette-primary-700: #00796b;
  --palette-primary-800: #00695c;
  --palette-primary-900: #004d40;
  --palette-primary-A100: #a7ffeb;
  --palette-primary-A200: #64ffda;
  --palette-primary-A400: #1de9b6;
  --palette-primary-A700: #00bfa5;
}