@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$color1: hsl(209, 36%, 86%);
$color2: hsl(224, 44%, 95%);
$color3: rgb(202, 216, 228);

:global(.MuiPopover-paper) {
  background-color: rgba(90, 158, 157, 0.5);
  border: 1px solid #ebeff3;
}

:global(.MuiDialog-container) {
  & :global(.MuiPaper-root) {
    background-color: #5295cec2;
    border: 1px solid white;
    box-shadow: 0px 2px 4px 1px rgb(255 255 255 / 20%), 1px 8px 7px 3px rgb(255 255 255 / 14%), 0px 9px 46px 8px rgb(255 255 255 / 12%);

    &::before {
      content: '';
      background-image: linear-gradient(#a5bfd021 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #a5bfd021 calc(100% - -0.5px)),
        linear-gradient(90deg, #a5bfd021 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #a5bfd021 calc(100% - 0.5px));
      background-size: 4rem 4rem;
      position: absolute;
      width: 300%;
      height: 300%;
      transform: rotate(45deg) translateX(-50%);
    }

    & h2 {
      color: #f5f5f5;
      background-color: rgba(0, 0, 0, 0.25);
      margin-bottom: 1rem;
    }

    & :global(.MuiTypography-root),
    & :global(.MuiInputBase-input),
    & :global(.MuiFormLabel-root) {
      color: rgba(240, 240, 240, 0.5);
    }

    & :global(.MuiButtonBase-root) {
      border: 1px solid;
    }
  }
}

//Menu Hamburguesa del Topbar
.profileMenu {
  top: 40px;

  :global(.MuiPaper-root) {
    width: 200px;
    top: 100px;

    :global(.MuiList-root) {
      padding: 0;

      .menuProfileDetails {
        font-family: sans-serif;
        border-bottom: 1px solid black;
        padding: 10px 15px;

        @media screen and (min-width: 900px) {
          border-bottom: none;
        }
      }

      .menuMobile {
        .selectMenu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;

          button {
            width: 100%;
            padding: 10px 0;
            color: black;
            font-weight: 400;
            text-transform: initial;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }

      .containerProfileLogoutMobile {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }

      .iconSocials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        gap: 10px;
      }
    }
  }
}

.pages {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: rgba(53, 49, 60, 0.75);
  background-size: 100vw 100vh;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(60 49 49 / 75%) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, rgb(51 55 58) 0%, hsl(240, 13%, 31%) 15%, hsl(224deg 4.63% 19.75%) 50%);
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    background-color: #1c7cbb30;
    background-image: linear-gradient(#a5bfd021 1.5px, transparent 0.5px, transparent calc(100% - 0.5px), #a5bfd021 calc(100% - -0.5px)),
      linear-gradient(90deg, #a5bfd021 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #a5bfd021 calc(100% - 0.5px));
    background-size: 4rem 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & .profilePicture {
    position: absolute;
    right: 2rem;

    & img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.75rem;
      border: 1px solid #ebeff3;
    }
  }

  .selectNavbar {
    width: 100%;

    header {
      position: relative;
      background-color: transparent;
      border-bottom: 1px solid black;

      .soyelNavbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .selectLogo {
          width: 10%;

          picture {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .selectMenu {
          display: flex;
          gap: 1rem;
          width: 80%;

          @media screen and (max-width: 900px) {
            display: none;
          }

          button {
            background-color: transparent;
            border: 1px solid black;
            color: black;
            padding: 5px 30px;
            text-transform: initial;
          }
        }

        .selectSocialsProfile {
          width: 10%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .iconSocials {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media screen and (max-width: 900px) {
              display: none;
            }
          }

          button {
            position: relative;
            right: 0;
            padding: 1px;
            // @media screen and (max-width: 450px) {
            //   display: none;
            // }
          }

          svg {
            align-items: right;
            padding: 0.5rem;
            color: black;
          }
        }
      }
    }
  }

  .footerOne {
    height: 300px;
    width: 100vw;
    position: absolute;
    bottom: 0;

    @media screen and (max-width: 678px) {
      height: auto;
      position: relative;
      width: 100%;
    }

    .containerFooterOne {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
      padding: 3rem 2rem;

      @media screen and (max-width: 678px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
      }

      .containerImage {
        padding-right: 2rem;

        @media screen and (max-width: 678px) {
          text-align: center;
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        picture {
          img {
            width: 80px;
          }
        }

        p {
          color: black;
        }
      }

      .containerCategories {
        @media screen and (max-width: 678px) {
          text-align: center;
          width: 100%;
        }

        h5 {
          border-bottom: 1px solid black;
          display: table;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1rem;

          @media screen and (max-width: 678px) {
            text-align: center;
            width: 100%;
            margin: 2rem 0;
          }
        }
      }

      .containerTags {
        h5 {
          border-bottom: 1px solid black;
          display: table;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1rem;

          @media screen and (max-width: 678px) {
            text-align: center;
            width: 100%;
            margin: 2rem 0;
          }
        }

        .flexTags {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 1rem;

          @media screen and (max-width: 678px) {
            justify-content: center;
          }

          span {
            border: 1px solid black;
            padding: 0.5rem 1rem;
            border-radius: 25px;
          }
        }
      }

      .containerSubscribe {
        width: 100%;

        h5 {
          border-bottom: 1px solid black;
          display: table;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1rem;

          @media screen and (max-width: 678px) {
            text-align: center;
            width: 100%;
            margin: 2rem 0;
          }
        }

        .flexFieldYourEmail {
          display: flex;
          width: 100%;
          align-items: center;

          .hardcordField {
            background-color: white;
            width: 90%;
            height: 30px;
            border-radius: 25px 0 0 25px;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            font-family: sans-serif;
            font-size: 0.75rem;
          }

          button {
            background-color: blue;
            color: white;
            width: 10px;
            border-radius: 0 25px 25px 0;
          }
        }

        .flexSocials {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          gap: 10px;

          @media screen and (max-width: 678px) {
            text-align: center;
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
.footerTwo {
  display: none;
  height: auto;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: rgba(53, 49, 60, 0.75);
  background-size: 100vw 100vh;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(60 49 49 / 75%) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, rgb(51 55 58) 0%, hsl(240, 13%, 31%) 15%, hsl(224deg 4.63% 19.75%) 50%);

  @media screen and (max-width: 678px) {
    height: auto;
    position: relative;
    width: 100%;
  }

  .containerFooterTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem 2rem;

    @media screen and (max-width: 678px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }

    .containerImage {
      @media screen and (max-width: 678px) {
        text-align: center;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      picture {
        img {
          width: 80px;
          margin: 0 auto;
        }
      }
    }

    .containerCategories {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @media screen and (max-width: 450px) {
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
      }

      h5 {
        border-bottom: 1px solid black;
        display: table;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1rem;

        @media screen and (max-width: 678px) {
          text-align: center;
          width: 100%;
          margin: 2rem 0;
        }
      }
    }

    .flexSocials {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 678px) {
        text-align: center;
        width: 100%;
        justify-content: center;
      }
    }

    .copyright {
      font-size: 0.5rem;
      text-align: center;
    }
  }
}
.footerThree {
  height: auto;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: rgba(53, 49, 60, 0.75);
  background-size: 100vw 100vh;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(60 49 49 / 75%) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, rgb(51 55 58) 0%, hsl(240, 13%, 31%) 15%, hsl(224deg 4.63% 19.75%) 50%);

  @media screen and (max-width: 678px) {
    height: auto;
    position: relative;
    width: 100%;
  }

  .containerFooterThree {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem 2rem;

    @media screen and (max-width: 678px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }

    .containersection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-bottom: 1px solid grey;
      margin-bottom: 2rem;
      @media screen and (max-width: 678px) {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .containerImage {
        @media screen and (max-width: 678px) {
          text-align: center;
          width: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        picture {
          img {
            width: 80px;
            margin: 0 auto;
          }
        }
      }

      .containerCategories {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;

        @media screen and (max-width: 450px) {
          text-align: center;
          width: 100%;
          flex-wrap: wrap;
          gap: 20px;
        }

        h5 {
          border-bottom: 1px solid black;
          display: table;
          padding-bottom: 0.5rem;
          margin-bottom: 1rem;
          font-weight: 700;
          font-size: 1rem;

          @media screen and (max-width: 678px) {
            text-align: center;
            width: 100%;
            margin: 2rem 0;
          }
        }
      }

      .flexSocials {
        width: unset;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 678px) {
          text-align: center;
          width: 100%;
          justify-content: center;
        }
      }
    }

    .containerSubscribe {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 40%;
      gap: 40px;
      margin-bottom: 2rem;
      @media (min-width: 450px) and (max-width: 900px) {
        flex-direction: column;
        width: 100%;
      }
      @media screen and (max-width: 450px) {
        flex-direction: column;
        width: 100%;
      }

      h5 {
        font-weight: 700;
        font-size: 1rem;

        @media screen and (max-width: 450px) {
          text-align: center;
          width: 100%;
          margin: 1rem 0;
        }
      }

      .flexFieldYourEmail {
        display: flex;
        width: 100%;
        align-items: center;

        .hardcordField {
          background-color: white;
          width: 90%;
          height: 30px;
          border-radius: 25px 0 0 25px;
          display: flex;
          align-items: center;
          padding-left: 1rem;
          font-family: sans-serif;
          font-size: 0.75rem;
        }

        button {
          background-color: blue;
          color: white;
          width: 10px;
          border-radius: 0 25px 25px 0;
        }
      }
    }
    .copyright {
      font-size: 0.5rem;
      text-align: center;
      width: 100%;
      @media screen and (max-width: 450px) {
        width: 100%;
      }
     }
    }
  }
  
  & .mainarea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

    & .bigHello {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      & h1 {
        font-family: 'Bebas Neue';
        text-transform: uppercase;
        text-align: center;
        font-size: 12rem;
        margin: 5rem 0 0;
        letter-spacing: 12px;
        font-weight: 700;
        color: #f5f5f5;
        text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 10px 1px #919191,
          1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(13, 16, 16, 0.2), 1px 22px 15px rgba(16, 16, 16, 0.2),
          16px 30px 40px rgba(16, 16, 16, 0.4);
      }

      & :global(p.MuiTypography-root) {
        color: #f5f5f5;
        text-transform: uppercase;
        /* width: 28.5rem; */
        letter-spacing: 0.4rem;
        font-size: 1.2rem;
        text-align: center;
      }

      & span {
        text-align: center;
        color: rgba(240, 240, 240, 0.5);
        font-size: 1rem;
        text-transform: lowercase;
      }
    }

    & .tableHeading {
      padding: 1rem;
      color: var(--white-color);
      background-color: var(--dark-color);
      margin-bottom: 2rem;

      & h4 {
        color: #f5f5f5;
      }

      & :global(.MuiFab-primary) {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        z-index: 1200;
      }
    }

    & :global(.MuiContainer-root) {
      flex-grow: 1;
      background-color: var(--dark-color);
    }
  }
}
