/*
path: table.module.scss
completePath: >-
  /Users/gastongorosterrazu/Aptugo/extendedTemplates/5ec1574d22999c4a5e8e0dc7/elements/Experimental/DataTable/table.module.scss
keyPath: elements/Experimental/DataTable/table.module.scss
unique_id: c7UnmA6M
*/
$fontSize: 100%;

.tableHolder {
  margin: 0 10px;
  top: 54px;
  max-height: calc(100% - 102px);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 2px 10px rgb(39 49 58 / 20%);

  & :global(.actionContainer) {
    display: flex;
    align-items: center;
    position: absolute;
    right: 9px;
    top: 9px;
    display: flex;
    flex-wrap: nowrap;

    & :global(.button) {
      cursor: pointer;
      display: flex;
      background: none;
      align-items: center;
      width: calc(1rem + 5px);
      height: calc(1rem + 5px);
      opacity: 1;
      justify-content: center;

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.currentPage {
        background-color: #2c5cc5;
        color: #fff;
        border-radius: 4px;
      }

      &:hover:not(.currentPage) {
        border-radius: 4px;
        background-color: #edefef;
      }
    }

    & :global(.button) ~ :global(.button) {
      margin-left: 0.5rem;
    }
  }

  :global(.table) {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-size: $fontSize;
    & :global(.tableHead) {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
      user-select: none;

      & :global(.tableHeadTR) {
        border-bottom: 1px solid #ebeff3;
        background: #fff;
        display: flex;

        & th {
          border-right: 1px solid #ebeff3;
          padding: 5px 5px 5px 10px;
          box-sizing: border-box;
          min-width: 40px;
          height: calc(1.5rem + 15px);
          line-height: calc(1.5rem + 5px);
          font-weight: 500;
          color: #666;
          border-color: #cfd7df;
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: left;
          position: relative;

          & > svg {
            height: 0.5625rem;
            margin-right: 0.25rem;
          }

          & :global(.resizer) {
            display: inline-block;
            background: none;
            width: 3px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(50%);
            z-index: 1;
            touch-action: none;
          }

          &:hover {
            & :global(.resizer) {
              cursor: col-resize;
              background: #bbdcfe;
              &.isResizing {
                background: blue;
              }
            }
          }
        }
      }
    }

    & tbody {
      & tr {
        display: flex;
        border-bottom: 1px solid #ebeff3;
        position: relative;

        & :global(.actionContainer) {
          display: none;
          top: 0;
        }

        & td {
          box-sizing: border-box;
          border-right: 1px solid #ebeff3;
          padding: 1rem;
          overflow: hidden;
          line-height: calc(1.5rem + 5px);
          height: calc(2.5rem + 14px);
          text-overflow: ellipsis;
          font-weight: 300;
          font-size: 80%;

          & img {
            height: 2.5rem;
            border-radius: 5px;
            margin: -0.5rem 0;
          }
        }

        &:hover {
          background-color: #f5f7f9;
          & :global(.actionContainer) {
            display: flex;
          }
        }
      }
    }

    tfoot {
      box-shadow: 0px 2px 10px rgb(39 49 58 / 20%);
      font-size: 70%;
      & tr {
        display: block;
        & td {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          & :global(.leftContainer) {
            display: flex;

            & :global(.numberOfElements) {
              border-right: 1px solid #cfd7df;
              margin-right: 1rem;
              padding-right: 1rem;
              color: #666;
              line-height: 1.5rem;
            }

            & :global(.actionContainer) {
              color: #666;
              position: static;
            }
          }
        }
      }
    }
  }
}
